<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCB_Nav3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCB_Nav3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <PCB_Nav3.Properties.Settings>
            <setting name="defaultProjectDrive" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="dgProg" serializeAs="String">
                <value>C:\CR8000\zdg\bin\Win64\sysdsner.exe</value>
            </setting>
            <setting name="dfProg" serializeAs="String">
                <value>C:\Program Files\Zuken\CR-8000\Design Force\bin\DFboardtool.exe</value>
            </setting>
            <setting name="pubOP" serializeAs="String">
                <value>C:\CR8000\bin\renPublishOPsWithBDfromDF.bat</value>
            </setting>
            <setting name="checkOPDG" serializeAs="String">
                <value>C:\CR8000\bin\renCheckDG.exe</value>
            </setting>
            <setting name="renameProj" serializeAs="String">
                <value>C:\CR8000\bin\RenCRRenameProject.exe</value>
            </setting>
            <setting name="tcUpload" serializeAs="String">
                <value>C:\CR8000\bin\renDFZip.bat</value>
            </setting>
            <setting name="SDToDG" serializeAs="String">
                <value>C:\CR8000\bin\renSdTransltr.bat</value>
            </setting>
            <setting name="compSDDG" serializeAs="String">
                <value>C:\CR8000\bin\renCompDGNdfToSD.exe</value>
            </setting>
            <setting name="editPDF" serializeAs="String">
                <value>C:\CR8000\bin\renDFEditPdfParams.bat</value>
            </setting>
            <setting name="BDtoDFCon" serializeAs="String">
                <value>C:\CR8000\bin\renBDtoDF.bat</value>
            </setting>
            <setting name="dfmElements" serializeAs="String">
                <value>C:\Program Files\Zuken\CR-8000\Design Force\bin\DEcamtool.exe</value>
            </setting>
            <setting name="publishProtoOP" serializeAs="String">
                <value>C:\CR8000\bin\renCRMultiOutputs-Proto.exe</value>
            </setting>
            <setting name="defaultMasterProject" serializeAs="String">
                <value>\A-0000-0000-01-A.cir</value>
            </setting>
        </PCB_Nav3.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PCB_Nav3.Properties.Settings>
            <setting name="defaultProject" serializeAs="String">
                <value>C:\Projects</value>
            </setting>
            <setting name="assyname" serializeAs="String">
                <value />
            </setting>
            <setting name="job" serializeAs="String">
                <value />
            </setting>
            <setting name="BGC1" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="BGC2" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="HLC1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TXTC1" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="BTNC1" serializeAs="String">
                <value />
            </setting>
            <setting name="BTNC2" serializeAs="String">
                <value />
            </setting>
            <setting name="TXTC2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CustomPathProj" serializeAs="String">
                <value />
            </setting>
            <setting name="lastwidth" serializeAs="String">
                <value>672</value>
            </setting>
            <setting name="lastheight" serializeAs="String">
                <value>535</value>
            </setting>
        </PCB_Nav3.Properties.Settings>
    </userSettings>
</configuration>